<% if(success && success.length) { %>
    <div class="alert alert-success alertdismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger alertdismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>